
/**
 * Demo Styles
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue";
}

.demo {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.demo h1 {
  margin-top: 0;
}

/**
 * Footer Styles
 */

.footer {
  position: relative;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: white;
	color: black;
	text-align: center;
}

.hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 40pt;
  margin-right: 40pt;
  border-style: inset;
  border-width: 2px;
}

.menubar li a {
    display: block;
}

.menubar {
    display: inline-block;
    margin: 0;
    padding: 0;
    zoom:1;
}

nav {
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: center;
}


.menubar li {
	display: block;
	float: left;
	width: 150px;
    min-height: 1.5em;
    background: white;
    border: lightgrey solid 1px;
    padding: 3px;
    margin: 4px;
        text-align: center;

}

.menubar li:hover {
    background: white;
}

.menubar li ul {
	visibility: hidden;
	position: absolute;
	padding-top: 10px;
}

.menubar li:hover ul {
	visibility: visible;
    padding-left: 0;
    margin-left: -7px;
}

.menubar li ul li {
    float: none;
    position: relative;
    width: 150px;
    text-align: center;
}

.ul {
  text-align: left;
  list-style: inside;
  margin-left: 50pt;
  margin-right: auto;
}

.column1 {
   
    float: left;
    width: 100%;


/*.column2 {
  float: right;
  width:48%;
 
}


/* Clear floats after the columns */
/*.row:after {
  content: "";
  display: table;
  clear: both;
  
  
}
